<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>登录</title>

<link rel="stylesheet" href="{{ url_for('static',filename ='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/log.css') }}" />
<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
</head>

<body>
	<header class="header-area absolute-bar">
		<div class="header-bottom transparent-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">
					</div>
					<div class="col-md-9 col-sm-9 hidden-xs">
						
						<div class="main-menu menu-style-2 f-right">
							<nav>
								<ul>
									<li><a href="/index">首页</a></li>
									<li><a href="/eventdetails">服务产品</a></li>
									<li><a href="/aboutus">关于我们</a></li>
									<li><a href="/event">数据分析</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-menu-area visible-xs hidden-sm mobile-menu-style-2">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mobile-menu">
								<nav id="mobile-menu-active">
									<ul>
										<li><a href="#">首页</a></li>
										<li><a href="#">服务产品</a></li>
										<li><a href="#">关于我们</a></li>
										<li><a href="#">数据分析</a></li>
									</ul>
								</nav>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<img class="bgone" src="../static/images/1.jpg" />
<img class="pic" src="../static/images/a.png" />

<div class="table">
	<div class="wel">电影推荐系统登录</div>
	<!-- <div class="wel1">MOU MOU XI TONG HUO TAI DENG LU</div> -->
	<div class="user">
		<div id="yonghu" style=""><img src="../static/images/yhm.png" /></div>
		<input type="text" name="" placeholder="用户名" id="user" />
	</div>			
	<div class="password">
		<div id="yonghu"><img src="../static/images/mm.png"/></div>
		<input type="password" name="密码" placeholder="●●●●●●" id="pwd"/>
	</div>
		
	<input class="btn" type="button" name="登录" value="登录" id='confirm' />	
	
</div>

<script>
	var btn = document.querySelector('#confirm');
	btn.addEventListener('click',function(){
		 $.ajax({
			 url: '/admin_info',
			 type: "GET",
			 dataType: "json", 
			 async: false,  //请求方式 设置为异步
			 success: function(data) {
				 console.log(data);
				 var user = document.querySelector('#user');
				 var user_i = user.value;
				 var pwd  = document.querySelector('#pwd');
				 var pwd_i = pwd.value;

				 for(var i=0;i<data.length;i++)
				 {
					 if(data[i].name===user_i)
					 {
						 if(data[i].pwd===pwd_i)
						 {
							 alert("登录成功！");
							 location.href = '/login/verify/' + user_i + '/' + data[i].tips;
							 break;
						 }
						 else {
							 alert("密码错误");
							 break;
						 }
					 }
					 if(i==data.length-1) 
					 {
						 alert("此用户不存在");
					 }
				 }
			 }
		 })
	})

	 
	 
 </script>

</body>
</html>