.navbar{
	border-radius: 0;
	min-height: 80px;
}
.container-fluid{
	margin-top: 18px;
}
.navbar-nav>li>a{
	font-size: 18px;
}
.navbar-brand{
	font-size: 22px;
	font-family: inherit;
	font-style: italic;
	font-weight: 700;
}
.navbar-inverse .navbar-brand{
	color:#00bcd4;
}
.navbar-inverse .navbar-nav>li>a{
		color: #fff;
}
h2{
	margin-left: 60px;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }

 #social-em:hover {
     color: #f39c12;
 }
 #social-git:hover{
 	color:black;
 }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    margin-left:45px;
}
.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left:10px;
    border-radius: 25px;
}
.button2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right:50px;
    /*margin-bottom: 20px;*/
    width:100px;
    border-radius: 25px
}

.kRUqXl {
    width: 900px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.kKSYln {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.glkvwr {
    display: inline-flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.25rem;
}

.gtEgaf {
    flex-direction: column;
    align-items: flex-start;
    display: inline-flex;
    padding-right: 0.25rem;
    -webkit-box-align: center;
}

.kpRihV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ggvDm {
    width: 100%;
    height: auto;
    color: rgb(245, 197, 24);
}

cUcPIU {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.iIbRcm.iIbRcm {
    line-height: 1.5rem;
}

.irbwHq svg {
    width: 55px;
    height: auto;
    font-family: var(--ipt-font-family);
}


.hNmaod {
    color: var(--ipt-on-baseAlt-accent3-color,rgb(251,60,60));
}

.hSsfDN {
    color: var(--ipt-on-baseAlt-accent4-color,rgb(103,173,75));
}

.bhuIgW.bhuIgW {
    line-height: 1.5rem;
}

.iZlgcd.iZlgcd {
    line-height: 1.5rem;
}

.bDDxMZ {
    color: gray;
    margin-left: 0px;
    margin-right: -0.25rem;
}

/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/

